*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(75, 74, 74);
}
input{
    display: none;
}

.wrapper{
    margin: 2rem auto;
    width: 65%;    
    background-color: rgb(42, 45, 48);
    border-radius: 2rem;
}

.slider{
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 91vh;
    overflow: hidden;
}

.slides{
    margin-top: 5vh;
    display: flex;
    width: 400%;
    height: 100%;
    /* overflow: hidden; */
}

.slide{
    width: 25%;
    position: relative;
    transition: ease-in-out .4s ;
}

img{
    width: 100%;
    border-radius: 2rem;
}

.text{
    position: relative;
    top: 84%;
    color: rgb(219, 217, 243);
    font-size: 1.7rem;
}

.slide1{
    width: 100%;
    background: no-repeat;
    background-image: url("assets/2.png");
    background-size: 100% 80%;
}

.slide2{
    width: 100%;
    background: no-repeat;
    background-image: url("assets/1.png");
    background-size: 75% 80%;
}

.slide3{
    width: 100%;
    background: no-repeat;
    background-image: url("assets/3.png");
    background-size: 50% 80%;
}

.slide4{
    width: 100%;
    background: no-repeat;
    background-image: url("assets/4.png");
    background-size: 25% 80%;
}

.label {
    cursor: pointer;
    display: inline-block;
    height: .7rem;
    width: .7rem;
    margin: 0 .2rem 0 .8rem;
    position: relative;
    top: 93%;
    left: calc(100% - 7.5rem);
    border-radius: 50%;
    z-index: 999;
    background-color: #6441ff;      
}

.label:hover {
    background: rgb(219, 217, 243);
}

.label::before{
    content: '';
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    position: relative;
    top: -.3rem;
    left: -.3rem;
}

.label::after {
    cursor: pointer;
    border: 2px solid #6441ff;
    content: '';
    display: block;
    height: .55rem;
    position: relative;
    width: .55rem;    
    top: -1.83rem;
    border-radius: 50%;
}
.label::after:hover{
    border: 2px solid rgb(219, 217, 243);
}

#point1:checked ~ .slides > .slide1 {
    margin-left: 0;
  }
  #point2:checked ~ .slides > .slide1 {
    margin-left: -33.4%; 
  }
  #point3:checked ~ .slides > .slide1 {
    margin-left: -100%;
  }
  #point4:checked ~ .slides > .slide1 {
    margin-left: -300%;
  }
  #point1:checked ~ .label1 {
    background-color: rgb(42, 45, 48);
  }
  #point2:checked ~ .label2 {
    background-color: rgb(42, 45, 48);
  }
  #point3:checked ~ .label3 {
    background-color: rgb(42, 45, 48);
  }
  #point4:checked ~ .label4 {
    background-color: rgb(42, 45, 48);
  }


  @media (max-width: 1020px){
    .slides{
        margin-top: 2vh;        
    }
    .text{
        font-size: 1.5rem;
    }
  }

  @media (max-height: 800px){
    .slides{
        margin-top: 2vh;
    }
  }

  
  @media (max-width: 420px){
    .wrapper{
        width: 90%;
    }
    .slider{
        height: 70vh;
    }
    .slides{
        height: 60%;
        margin-top: 1vh;
    }
    .text{
        top: 105%;
    }
    .label{
        top: 63%;
        left: 30%;
    }
  }